.go[data-v-2a313242] {
    position: fixed;
    bottom: 0;
    max-width: 10rem;
    width: 100%;
    z-index: 5;
    padding: .26rem 0
}

.item[data-v-2a313242] {
    padding: .2rem 0 1.6rem 0
}

.box[data-v-2a313242] {
    padding: 0 .28rem
}

.box .it[data-v-2a313242] {
    padding: .34rem 0 0 0;
    font-size: .3rem
}

.box .it .x100[data-v-2a313242] {
    margin-top: .34rem
}

.cname[data-v-2a313242] {
    margin-bottom: .2rem;
    color: #222;
    line-height: .4rem
}

.cname img[data-v-2a313242] {
    height: .26rem;
    margin-right: .1rem;
    vertical-align: middle
}

.tips[data-v-2a313242] {
    padding-bottom: .3rem;
    position: fixed;
    bottom: 1.5rem;
    max-width: 10rem;
    width: 100%;
    z-index: 5
}

.tips .p[data-v-2a313242] {
    font-size: .26rem;
    font-weight: 400;
    text-align: left;
    color: #999;
    line-height: .28rem;
    letter-spacing: -.01069rem
}
