.popup_box[data-v-4c14e1cc] {
    background: #131118!important
}

.popup_box .scroll[data-v-4c14e1cc] {
    max-height: 72vh;
    overflow-y: scroll
}

.popup_box .scroll .ul[data-v-4c14e1cc] {
    overflow: hidden;
    color: #e8e8e8
}

.popup_box .scroll .ul .item[data-v-4c14e1cc] {
    background-color: #131118;
    border-bottom: .02rem solid #4c4b4b!important;
    padding: .32rem 0;
    text-align: center;
    color: #fff
}

.popup_box .scroll .ul .active[data-v-4c14e1cc] {
    color: #71db81!important
}

.popup_box .esc[data-v-4c14e1cc] {
    background: #131118;
    border-top: .06rem solid #212121;
    padding: .32rem 0;
    text-align: center;
    color: #fff
}

.btn_box[data-v-573aeae8] {
    margin-top: .48rem
}

.btn_box .btn[data-v-573aeae8] {
    height: .88rem;
    line-height: .88rem;
    text-align: center;
    color: #000;
    font-size: .32rem;
    border-radius: .16rem!important;
    background: linear-gradient(90deg,#7b7b7b,#a0a0a0)
}

.btn_box .submit[data-v-573aeae8] {
    background: #71db81
}

[data-v-b2eb79c4] .van-picker-column__item {
    color: hsla(0,0%,100%,.8)!important
}

[data-v-b2eb79c4] .van-picker__mask {
    background-image: none!important
}

[data-v-b2eb79c4] .van-picker {
    background: none!important
}

.popup_box[data-v-b2eb79c4] {
    padding: 0 .24rem .24rem;
    background: #131118;
    border-radius: .16rem .16rem 0 0
}

.popup_box .title_box[data-v-b2eb79c4] {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .4rem 0
}

.popup_box .title_box .title[data-v-b2eb79c4] {
    color: #fff;
    font-size: .32rem;
    font-weight: 700
}

.popup_box .title_box .cross[data-v-b2eb79c4] {
    font-size: .28rem
}

.popup_box .time_list[data-v-b2eb79c4] {
    display: flex;
    align-items: center;
    color: #929292
}

.popup_box .time_list .time_box[data-v-b2eb79c4] {
    flex: 1;
    padding: .2rem .24rem;
    border-radius: .16rem;
    border: .02rem solid #dbdbdb
}

.popup_box .time_list .line[data-v-b2eb79c4] {
    width: .28rem;
    height: .02rem;
    margin: 0 .3rem;
    background: #929292
}

.popup_box .picker[data-v-b2eb79c4] {
    margin-top: .2rem
}

.reco_list[data-v-3de80214] {
    font-size: .28rem;
    color: #717e95
}

.reco_list .top[data-v-3de80214] {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.reco_list .top .left[data-v-3de80214],.reco_list .top .right[data-v-3de80214] {
    display: flex;
    align-items: center;
    border-radius: .12rem;
    padding: .14rem 0
}

.reco_list .top .left span[data-v-3de80214],.reco_list .top .right span[data-v-3de80214] {
    color: #fff
}

.reco_list .top .left img[data-v-3de80214],.reco_list .top .right img[data-v-3de80214] {
    height: .44rem
}

.bott[data-v-3de80214] {
    margin-top: .24rem;
    margin-bottom: .76rem
}

.bott .ul .li[data-v-3de80214] {
    border-radius: .2rem;
    background: #161818;
    box-shadow: 0 .06043rem .90638rem 0 rgba(4,6,15,.05);
    padding: .3rem;
    font-size: .24rem;
    margin-bottom: .28rem
}

.bott .ul .li ul li[data-v-3de80214] {
    width: 100%;
    padding: .1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: .24rem;
    line-height: .34rem
}

.bott .ul .li ul li[data-v-3de80214]:last-child {
    margin-bottom: 0
}

.bott .ul .li ul li .n[data-v-3de80214] {
    opacity: .7;
    color: #f5f5f5
}

.bott .ul .li ul li .s[data-v-3de80214] {
    font-weight: 600;
    color: #fff
}

.empty[data-v-3de80214] {
    text-align: center;
    padding: 1rem 0
}

.empty img[data-v-3de80214] {
    height: 2.4rem
}

.empty p[data-v-3de80214] {
    font-size: .28rem;
    color: #bdbdbd
}
