.list[data-v-0e1dae04] {
    margin-top: .16rem
}

.list li[data-v-0e1dae04] {
    align-items: center;
    padding: .4rem 0
}

.list li[data-v-0e1dae04] .van-icon {
    font-size: .32rem;
    font-weight: 700;
    color: #bdbdbd
}

.list li .ico img[data-v-0e1dae04] {
    width: .48rem
}

.list li .flex1[data-v-0e1dae04] {
    padding: 0 .24rem;
    font-size: .32rem;
    font-weight: 400;
    letter-spacing: .0064rem
}

.list li i[data-v-0e1dae04] {
    font-size: .28rem
}
