.start-page[data-v-e73e51fc] {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 8.5rem;
    height: 100%;
    width: 100%;
    z-index: 99999;
    background-color: #000;
}

.start-page>img[data-v-e73e51fc] {
    height: 100%;
    width: 100%;
    object-fit: cover
}

.start-page .start[data-v-e73e51fc] {
    position: absolute;
    bottom: .4rem;
    right: .4rem
}

.start-page .start button[data-v-e73e51fc] {
    border-radius: .2rem;
    background: linear-gradient(180deg,#55b2c2 ,#bef3a1);
    color: #000;
    padding: .24rem .32rem;
    display: flex;
    align-items: center;
    justify-content: center
}

.start-page .start button img[data-v-e73e51fc] {
    height: .32rem;
    margin-left: .24rem
}

.start-page .abs[data-v-e73e51fc] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

.start-page .abs>div[data-v-e73e51fc] {
    margin-top: -1rem;
    padding: 0 .4rem
}

.start-page .abs img[data-v-e73e51fc] {
    height: 1rem
}

.start-page .abs p[data-v-e73e51fc] {
    color: #fff;
    font-size: .32rem;
    margin-top: .2rem;
    line-height: .48rem
}

.com-page {
    width: 100%;
    max-width: 10rem;
    margin: 0 auto
}

.page-enter-active,.page-leave-active {
    transition: all .5s ease-in-out
}

.page-enter,.page-leave-to {
    opacity: 0
}

#app {
    max-width: 8.5rem;
    width: 100%;
    min-height: 100%;
    word-wrap: break-word;
    word-break: normal;
    font-family: Poppins,PingFang SC,Microsoft Yahei,sans-serif
}

 .van-checkbox__icon--checked .van-icon {
    color: #000
}

.van-checkbox__icon .van-icon {
    border-radius: .06rem;
    border-color: hsla(0,0%,100%,.5)!important
}

.van-checkbox__icon--checked .van-icon {
    color: #000!important
}

.bg {
    position: absolute;
    top: 0
}

.btn2 {
    height: 1rem;
    border-radius: .2rem;
    background: #55b2c2 ;
    color: #000;
    font-weight: 500;
    font-size: .32rem;
    width: 100%;
    border: 0
}

.btn2.on {
    background: hsla(0,0%,100%,.1)
}

.van-popup--bottom {
    left: auto!important;
    max-width: 8.5rem
}

.pop_type {
    background: #fff
}

.pop_type .name {
    font-size: .32rem;
    text-align: center;
    line-height: .44rem;
    padding: .28rem 0
}

.pop_type .scroll {
    max-height: 5rem;
    overflow: scroll
}

.pop_type .esc {
    padding: .32rem 0;
    border-top: .1rem solid #e2e8f0;
    font-size: .32rem;
    font-weight: 500;
    text-align: center;
    display: none
}

.van-cell,.van-cell-group {
    background: none!important;
    margin: -.02rem 0
}

.van-cell {
    padding: .28rem .28rem!important
}

.van-cell:after {
    border-bottom: .0198rem solid #e2e8f0!important
}

.password_pop .van-number-keyboard {
    position: relative
}

.password_pop .van-password-input__security li {
    width: .94rem;
    height: .9rem;
    background: hsla(0,0%,100%,.1);
    border-radius: .16rem;
    color: #222;
    border: .02rem solid #213266
}

.password_pop .van-password-input {
    margin: 0
}

.password_pop .van-number-keyboard {
    background: none
}

.password_pop .van-number-keyboard .van-key {
    width: 2.3rem;
    height: .96rem;
    background: #fff;
    border-radius: .08rem
}

.password_pop .pass {
    max-width: 7rem;
    background: #fff;
    padding: .28rem
}

.password_pop .pass .box {
    padding: .3rem 0;
    position: relative
}

.password_pop .pass .box input {
    position: absolute;
    width: 100%;
    height: 1rem;
    background: none;
    border: 0;
    z-index: 2;
    opacity: 0
}

.password_pop .jianpan {
    background: #fff;
    margin-top: 1rem
}

.password_pop .jianpan p {
    line-height: .76rem;
    text-align: center;
    color: #999
}

.password_pop .title {
    font-size: .3rem;
    font-weight: 500;
    line-height: .42rem
}

.password_pop .title .abs {
    right: 0;
    top: 0
}

.password_pop .title .abs i {
    font-size: .3rem
}

.color1 {
    color: var(--theme-colr)
}

.nameBox {
    margin-bottom: .32rem
}

.nameBox .n {
    font-weight: 600;
    font-size: .48rem;
    line-height: 150%;
    color: #171d2e
}

.nameBox p {
    font-size: .28rem;
    line-height: 170%;
    letter-spacing: .00517rem;
    color: #848c9a
}

.po_center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%)
}

.green {
    color: #00bc81!important
}

.red {
    color: #eb3f31!important
}

.flex_center {
    justify-content: center
}

.flex_center,.flex_line {
    display: flex;
    align-items: center
}

:root {
    --COcolor1: #fff;
    --COcolor2: #55b2c2 ;
    --COcolor3: #929292;
    --COcolor4: #fff;
    --COcolor5: grey;
    --COcolor6: #929292;
    --COborder1: 0.02rem solid #292c2f;
    --COborder2: 0.02rem solid #333;
    --COborder3: 0.02rem solid #ffadb5;
    --CObackgroundLinear1: linear-gradient(270deg,#0571fd,#7b02fe 100%,#7b02fe 0);
    --CObackgroundLinear2: #55b2c2 ;
    --CObackgroundLinear3: #0e0f10;
    --CObackgroundLinear4: hsla(0,0%,100%,0.8);
    --CObackgroundLinear5: linear-gradient(90deg,#e7625d,#e24a43)
}

body {
    text-transform: capitalize
}

input {
    text-transform: none
}

.qdBox {
    position: fixed;
    top: 0;
    max-width: 10rem;
    z-index: 9999
}

.qdBox,.qdBox>img {
    height: 100%;
    width: 100%
}

.qdBox>img {
    object-fit: cover
}

.qdBox .start {
    position: absolute;
    bottom: .4rem;
    right: .4rem
}

.qdBox .start button {
    border-radius: .2rem;
    background: linear-gradient(180deg,#55b2c2 ,#bef3a1);
    color: #000;
    padding: .24rem .32rem;
    display: flex;
    align-items: center;
    justify-content: center
}

.qdBox .start button img {
    height: .32rem;
    margin-left: .24rem
}

.qdBox .abs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

.qdBox .abs>div {
    margin-top: -1rem;
    padding: 0 .4rem
}

.qdBox .abs img {
    height: 1rem
}

.qdBox .abs p {
    color: #fff;
    font-size: .32rem;
    margin-top: .2rem;
    line-height: .48rem
}

@font-face {
    font-family: Poppins;
    src: url(../../static/fonts/Poppins-Medium.bf59c687.ttf) format("truetype")
}

body {
    font: 400 .24rem/100% -apple-system;
    color: #fff;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    user-select: none;
    word-break: break-all
}

blockquote,body,dd,del,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,li,menu,ol,p,pre,td,textarea,th,ul {
    margin: 0;
    padding: 0
}

* {
    border: none;
    background: none;
    box-sizing: border-box;
    vertical-align: top
}

input[type=text],textarea {
    -webkit-appearance: none;
    appearance: none;
    outline: 0
}

button {
    outline: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset,img {
    border: 0
}

address,caption,cite,code,dfn,em,th,var {
    font-style: normal;
    font-weight: 400
}

li,ol,ul {
    list-style: none
}

caption,th {
    text-align: left
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: 400;
    font-style: normal
}

q:after,q:before {
    content: ""
}

abbr,acronym {
    border: 0
}

footer,header,section {
    display: block;
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
    color: #333
}

.c:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.c {
    
zoom:1;
}

img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: top
}

.rel {
    position: relative
}

.abs {
    position: absolute
}

.fl {
    float: left
}

.fl,.fr {
    display: inline
}

.fr {
    float: right
}

.tac {
    text-align: center
}

.tar {
    text-align: right
}

.table {
    display: table;
    table-layout: fixed;
    width: 100%
}

.cell,.table li {
    display: table-cell;
    vertical-align: middle
}

.inline-box {
    font-size: 0;
    text-align: center
}

.inline-box li,.inlineb {
    display: inline-block;
    vertical-align: middle
}

.db {
    display: flex;
    display: -webkit-box;
    box-align: center;
    -webkit-box-align: center
}

.db li,.flexs {
    -moz-box-flex: 1.0;
    -webkit-box-flex: 1.0;
    box-flex: 1.0
}

.flex {
    display: flex;
    flex-wrap: wrap
}

.flex1 {
    flex: 1
}

.line_2x {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis
}

.hide {
    display: none
}

.text-overflow {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.container {
    padding: 0 .4rem
}

input:focus {
    outline: 0
}

::-webkit-scrollbar {
    display: none
}

* {
    -webkit-overflow-scrolling: touch
}

.xc180 {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg)
}

.xc90,.xc180 {
    display: block
}

.xc90 {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg)
}

.xc_90 {
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    display: block
}

.bet {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between
}

.wrap {
    -webkit-flex-flow: wrap;
    flex-flow: wrap
}

i.iconfont {
    font-size: .48rem
}

.j {
    border: .1rem solid transparent;
    width: 0;
    height: 0;
    border-top-color: #fff;
    display: inline-block;
    vertical-align: middle
}

::-webkit-input-placeholder {
    color: #d2d2d2
}

::-moz-placeholder {
    color: #d2d2d2
}

:-ms-input-placeholder {
    color: #d2d2d2
}

input:-moz-placeholder {
    color: #d2d2d2
}

input::placeholder {
    color: #999
}

.ellipsis {
    -webkit-line-clamp: 1
}

.ellipsis,.ellipsis2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden
}

.ellipsis2 {
    -webkit-line-clamp: 2
}

.pop_bottom {
    bottom: 0
}

.slideToggle-enter {
    visibility: hidden;
    bottom: -3rem
}

.slideToggle-enter-active {
    transition: all .32s
}

.slideToggle-leave-active {
    transition: all 0s
}

.slideToggle-leave-to {
    visibility: visible;
    bottom: 0
}

.slide-scalc-enter {
    transform: scale(.51)
}

.slide-scalc-enter-active {
    transition: all .32s
}

.slide-scalc-leave-active {
    transition: all 0s
}

.slide-scalc-leave-to {
    transform: scale(1)
}

.mint-toast-text {
    font-size: .28rem;
    padding: .2rem!important
}

body {
    background: none;
    width: 100%;
    position: relative;
    top: 0;
    left: 50%;
    bottom: 0;
    background: #000;
    margin: 0 auto;
    transform: translateX(-50%);
    font-family: Poppins,PingFang SC,Microsoft Yahei,sans-serif
}

html {
    background: #000
}

.overflow1 {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    word-break: break-all;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical
}

.van-dialog {
    background: #2c2933!important
}

.van-dialog .van-button--default {
    background: #2c2933!important;
    color: #55b2c2
}
