.popup_box[data-v-4c14e1cc] {
    background: #131118 !important
}

.popup_box .scroll[data-v-4c14e1cc] {
    max-height: 72vh;
    overflow-y: scroll
}

.popup_box .scroll .ul[data-v-4c14e1cc] {
    overflow: hidden;
    color: #e8e8e8
}

.popup_box .scroll .ul .item[data-v-4c14e1cc] {
    background-color: #131118;
    border-bottom: .02rem solid #4c4b4b !important;
    padding: .32rem 0;
    text-align: center;
    color: #fff
}

.popup_box .scroll .ul .active[data-v-4c14e1cc] {
    color: #55b2c2  !important
}

.popup_box .esc[data-v-4c14e1cc] {
    background: #131118;
    border-top: .06rem solid #212121;
    padding: .32rem 0;
    text-align: center;
    color: #fff
}

.totalBox[data-v-a5a9abc4] {
    font-size: .28rem;
    display: flex;
    justify-content: space-between;
    padding: 0 0 .32rem 0;
    margin-bottom: .32rem;
    align-items: center;
    border-bottom: .02rem solid rgba(79, 79, 79, .5)
}

.totalBox .n[data-v-a5a9abc4] {
    margin-right: .2rem;
    font-size: .4rem;
    white-space: nowrap
}

.totalBox .lvSet[data-v-a5a9abc4] {
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: .14rem;
    border: .01724rem solid hsla(0, 0%, 100%, .4);
    background: hsla(0, 0%, 100%, .1);
    padding: .14rem .28rem;
    font-size: .24rem
}

.totalBox .lvSet img[data-v-a5a9abc4] {
    height: .36rem;
    margin-left: .1rem
}

.box1[data-v-a5a9abc4] {
    padding: .32rem;
    border-radius: .2rem;
    background: linear-gradient(62deg, hsla(0, 0%, 85.1%, .2) -72.21%, hsla(0, 0%, 85.1%, 0) 200%);
    box-shadow: 0 .03448rem .17241rem 0 rgba(0, 0, 0, .1);
    margin-bottom: .32rem
}

.list>li[data-v-a5a9abc4] {
    border-radius: .2rem;
    padding-bottom: .02rem;
    background: linear-gradient(62deg, hsla(0, 0%, 85.1%, .3) -72.21%, hsla(0, 0%, 85.1%, 0) 200%);
    margin-bottom: .24rem
}

.list>li>.flex[data-v-a5a9abc4] {
    padding: .2rem .32rem;
    display: flex;
    align-items: center
}

.list>li .ico[data-v-a5a9abc4] {
    margin-right: .24rem
}

.list>li .ico img[data-v-a5a9abc4] {
    width: .96rem;
    height: .96rem;
    border-radius: 50%
}

.list>li .info[data-v-a5a9abc4] {
    display: none
}

.list>li .info.on[data-v-a5a9abc4] {
    display: block
}

.list>li .n1[data-v-a5a9abc4] {
    font-size: .32rem;
    font-weight: 600;
    align-items: center;
    justify-content: space-between
}

.list>li .n1 .n[data-v-a5a9abc4] {
    flex: 1;
    font-size: .32rem;
    font-weight: 600;
    line-height: .48rem;
    display: flex;
    align-items: center
}

.list>li .n1 .n span[data-v-a5a9abc4] {
    margin-left: .08rem;
    border-radius: .24rem;
    border: .01724rem solid rgb(219 255 0 / 50%);
    background: rgba(219, 255, 0, .2);
    height: .4rem;
    color: #fff000;
    padding: 0 .2rem;
    font-size: .2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center
}

.list>li .n1 .s[data-v-a5a9abc4] {
    font-weight: 500;
    color: #7d7d7d
}

.list>li .n1 .s span.on[data-v-a5a9abc4] {
    color: #a6ff7d
}

.list>li .n2[data-v-a5a9abc4] {
    margin-top: .16rem;
    align-items: center;
    justify-content: space-between
}

.list>li .n2 .n[data-v-a5a9abc4] {
    font-size: .24rem;
    line-height: .26rem;
    opacity: .5
}

.list>li .n2 .s[data-v-a5a9abc4] {
    font-weight: 400
}

.list>li .u1[data-v-a5a9abc4] {
    background: linear-gradient(62deg, hsla(0, 0%, 85.1%, .3) -72.21%, hsla(0, 0%, 85.1%, 0) 114.44%);
    display: flex
}

.list>li .u1 li[data-v-a5a9abc4] {
    flex: 1;
    text-align: center;
    line-height: .48rem;
    padding: .2rem 0;
    font-size: .24rem;
    font-weight: 700;
    letter-spacing: .0096rem
}

.list>li .u1 li .n[data-v-a5a9abc4] {
    color: #55b2c2 ;
}

.list>li .u1 li .s[data-v-a5a9abc4] {
    font-weight: 400
}

.list>li .u2[data-v-a5a9abc4] {
    display: flex;
    margin: .32rem 0;
    text-align: center
}

.list>li .u2 li[data-v-a5a9abc4] {
    flex: 1;
    line-height: 150%
}

.list>li .u2 li .n[data-v-a5a9abc4] {
    font-size: .24rem;
    font-weight: 400
}

.list>li .u2 li .s[data-v-a5a9abc4] {
    font-size: .32rem;
    font-weight: 700
}

.list>li .onUp[data-v-a5a9abc4] {
    border-radius: .2rem;
    border: .01724rem solid hsla(0, 0%, 100%, .23);
    width: 2rem;
    text-align: center;
    height: .64rem;
    flex-shrink: 0;
    font-size: .24rem;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: .24rem;
    align-items: center;
    display: flex;
    padding: .14rem
}

.list>li .onUp span[data-v-a5a9abc4] {
    opacity: .5
}

.list>li .onUp img[data-v-a5a9abc4] {
    height: .36rem;
    margin-right: .08rem
}
